h1 {
	text-align: center;
	}
#a {
    text-indent: 50px;
}
#b {
    text-indent: 50px;
}
#c {
    text-indent: 50px;
}
#d {
    text-indent: 50px;
}
#e {
    text-indent: 50px;
}
#f {
    text-indent: 50px;
}
#g {
    text-indent: 50px;
}
body {
	font-family: Times New Roman;
	font-size: 30px;
	}